<%- include('./partials/header') %>


    <h1>Login Page !</h1>

    <form action="/login" method="post">
        <input type="text" name="username" placeholder="username" id="">
        <input type="text" name="password" placeholder="password" id="">
        <button>Log In</button>
    </form>

    <%- include('./partials/footer') %>