<%- include('partials/header') %>

    <h1>This is working</h1>


    <a href="/campgrounds">Take me to the Campsite</a>
    <a href="/campgrounds/new">Add a new campsite</a>

    <%- include ('partials/footer') %>